@model BondSystem.Web.Models.Bond.IndexViewModel
@{
  ViewBag.Title = "Search Bond";
}

<div class="title">
  <h2>@ViewBag.Title</h2>
</div>
<div id="bondIndex" ng-controller="BondController" class="sub-container">
  @* Search Filters *@
  <div class="row box">
    <div class="row">
      <div class="form-group">
        <div class="col-md-1">
          <label class="control-label">Bond nr.</label>
          <input ng-model="searchFilters.bondId" class="form-control" type="number" placeholder="Bond nr." />
        </div>

        <div class="col-md-2">
          <label class="control-label">IP</label>
          <input ng-model="searchFilters.ipCode" class=" form-control" type="number" maxlength="7" placeholder="IP Code" />
        </div>

        <div class="col-md-3">
          <label class="control-label">Size</label>
          <input ng-model="searchFilters.size" class=" form-control" type="text" placeholder="Size" />
        </div>

        <div class="col-md-2">
          <label class="control-label">Production Plant</label>
          @Html.DropDownList("ProductionPlantId", new SelectList(Model.Factories, "Id", "Description"), new { @class = "form-control", ng_model = "searchFilters.factoryId" })
        </div>

        <div class="col-md-2">
          <label class="control-label">Product</label>
          @Html.DropDownList("ProductLineId", new SelectList(Model.ProductLines, "Id", "Description"), new { @class = "form-control", ng_model = "searchFilters.productLineId" })
        </div>

        <div class="col-md-2">
          <label class="control-label">OE Involved</label><br />
          <input ng-model="searchFilters.withOriginalEquipment" type="checkbox" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-md-2">
          <label class="control-label">Market Segment</label>
          @Html.DropDownList("MarketSegmentId", new SelectList(Model.MarketSegments, "Id", "Description"), new { @class = "form-control", ng_model = "searchFilters.marketSegmentId" })
        </div>

        <div class="col-md-2">
          <label class="control-label">Reason</label>
          @Html.DropDownList("ReasonTypeId", new SelectList(Model.ReasonTypes, "Id", "Description"), new { @class = "form-control", ng_model = "searchFilters.reasonTypeId" })
        </div>

        <div class="col-md-2">
          <label class="control-label">Status</label>
          @Html.DropDownList("BondStatusId", new SelectList(Model.BondStatus, "Id", "Description"), new { @class = "form-control", ng_model = "searchFilters.bondStatusId" })
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-md-3">
          <label class="control-label">Owner</label>
          @Html.DropDownList("UserId", new SelectList(Model.Users, "UserId", "UserName"), new {@class = "form-control", ng_model = "searchFilters.userId"})
        </div>
        <div class="col-md-2">
          <label class="control-label">Pending Quantity</label>
          <input ng-model="searchFilters.pendingQuantity" class="form-control" type="number" placeholder="Pending Quantity" />
        </div>

        <div class="col-md-7 text-right">
          <br/>
          <button class="btn btn-primary" ng-click="search(searchFilters, true)">Search</button>
          <button class="btn btn-default" ng-click="clearFilters(searchFilters)">Clear filters</button>
        </div>
      </div>

    </div>
  </div>

  @* Search Results *@
  <div id="searchResults" class="row box">
    @* Pagination *@
    @* https://angular-ui.github.io/bootstrap/#/pagination *@
    <div class="row">
      <div class="col-md-4">
        <span>
          Showing {{((searchFilters.currentPage - 1) * searchFilters.pageSize) + 1}}
          to {{(searchFilters.currentPage * searchFilters.pageSize) < searchFilters.totalResults ? (searchFilters.currentPage * searchFilters.pageSize) : searchFilters.totalResults}}
          of {{searchFilters.totalResults}} rows
        </span>
        <!-- Single button -->
        <div class="btn-group" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            {{searchFilters.pageSize}}&nbsp;&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="changePageSize(10, searchFilters)">10</a></li>
            <li><a ng-click="changePageSize(25, searchFilters)">25</a></li>
            <li><a ng-click="changePageSize(50, searchFilters)">50</a></li>
            <li><a ng-click="changePageSize(100, searchFilters)">100</a></li>
          </ul>
        </div>
        <span> records per page</span>
      </div>
      <div class="col-md-8 text-right" ng-if="searchFilters.totalResults > searchFilters.pageSize">
        <pagination class="pagination-sm"
                    total-items="searchFilters.totalResults"
                    items-per-page="searchFilters.pageSize"
                    ng-model="searchFilters.currentPage"
                    ng-change="pagedSearch(searchFilters)"
                    max-size="searchFilters.itemsByPage"
                    boundary-links="true" rotate="false"></pagination>
      </div>
    </div>

    <table st-table="bondResults" class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Bond nr.</th>
          <th>IP</th>
          <th>Size</th>
          <th>Status</th>
          <th>Pending</th>
          <th>Bonded days</th>
          <th>Factory</th>
          <th>Product</th>
          <th>OE Inv.</th>
          <th>Edit By</th>
          <th>Edit Date</th>
          <th>Created by</th>
          <th>Created Date</th>
        </tr>
      </thead>
      <tbody ng-repeat="bond in bondResults" on-search-results-repeat-complete>
        <tr ng-click="getBondById(bond.id)">
          <td>{{bond.id}}</td>
          <td>{{bond.ipCode}}</td>
          <td data-toggle="tooltip" data-placement="top" data-original-title="{{bond.size}}" data-container="body">{{bond.size}}</td>
          <td>{{bond.bondStatus.description}}</td>
          <td>{{bond.totalPending}}</td>
          <td>Bonded days</td>
          <td>{{bond.factory.description}}</td>
          <td>{{bond.productLine.description}}</td>
          <td>{{bond.originalEquipment.description}}</td>
          <td>{{bond.modifiedBy}}</td>
          <td>{{bond.modified | date}}</td>
          <td>{{bond.createdBy}}</td>
          <td>{{bond.created | date}}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>