@model IEnumerable<TangOrganizer.Model.Models.Evento>

@{
  ViewBag.Title = "I miei eventi";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>I miei eventi</h2>
    <ol class="breadcrumb">
      <li class="active">
        <strong>Eventi</strong>
      </li>
    </ol>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Lista di Eventi</h5>
          <div class="ibox-tools">
            @Html.ActionLink("Nuovo evento", "Create", null, new { @class = "btn btn-primary btn-xs" })
          </div>
        </div>
        <div class="ibox-content">

          <table class="table table-striped">
            <tr>
              <th>
                @Html.DisplayNameFor(model => model.Nome)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.AuthInfo_DataCreazione)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.AuthInfo_CreatoDa)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.AuthInfo_DataUltimaModifica)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.AuthInfo_ModificatoDa)
              </th>
              <th></th>
            </tr>

            @foreach (var item in Model)
            {
              <tr>
                <td>
                  @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.AuthInfo_DataCreazione)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.AuthInfo_CreatoDa)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.AuthInfo_DataUltimaModifica)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.AuthInfo_ModificatoDa)
                </td>
                <td>
                  @Html.ActionLink("Visualizza", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                  @Html.ActionLink("Modifica", "Edit", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                  @Html.ActionLink("Cancella", "Delete", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                </td>
              </tr>
            }

          </table>

        </div>
      </div>
    </div>
  </div>
</div>
