@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html ng-app="BondSystemApp">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Bond System</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/bundles/angular")
  @Scripts.Render("~/bundles/infrastructure")
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Bond System", "Index", "Bond", null, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Search Bond", "Index", "Bond")</li>
          <li>@Html.ActionLink("New Bond", "Create", "Bond")</li>
          <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
        </ul>

        @* User infos  *@
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span><i class="fa fa-2x fa-user"></i>&nbsp;&nbsp;Username</span>
          </li>
        </ul>

        @*@Html.Partial("_LoginPartial")*@
      </div>
    </div>
  </div>
  <div class="container-fluid">
    @RenderBody()
    <footer>
      <p>&copy; @DateTime.Now.Year - Bond System</p>
    </footer>
  </div>

  @Html.Partial("_BootstrapPartial")
  @RenderSection("scripts", required: false)
</body>
</html>
