@model TangOrganizer.Dashboard.Models.EventoViewModel

  @{
    ViewBag.Title = Model.Evento.Nome;
  }

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
      <h2>@ViewBag.Title</h2>
      <ol class="breadcrumb">
        <li>
          @Html.ActionLink("List", "Index")
        </li>
        <li class="active">
          <strong>@ViewBag.Title</strong>
        </li>
      </ol>
    </div>
  </div>


  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>@ViewBag.Title</h5>
          </div>
          <div class="ibox-content">


            <dl class="dl-horizontal">
              <dt>
                @Html.DisplayNameFor(model => model.Evento.Nome)
              </dt>

              <dd>
                @Html.DisplayFor(model => model.Evento.Nome)
              </dd>

              <dt>
                @Html.DisplayNameFor(model => model.Evento.Descrizione)
              </dt>

              <dd>
                @Html.DisplayFor(model => model.Evento.Descrizione)
              </dd>

              <dt>
                @Html.DisplayNameFor(model => model.Evento.BaseInfo_DataCreazione)
              </dt>

              <dd>
                @Html.DisplayFor(model => model.Evento.BaseInfo_DataCreazione)
              </dd>

              <dt>
                @Html.DisplayNameFor(model => model.Evento.BaseInfo_CreatoDa)
              </dt>

              <dd>
                @Html.DisplayFor(model => model.Evento.BaseInfo_CreatoDa)
              </dd>

              <dt>
                @Html.DisplayNameFor(model => model.Evento.BaseInfo_DataUltimaModifica)
              </dt>

              <dd>
                @Html.DisplayFor(model => model.Evento.BaseInfo_DataUltimaModifica)
              </dd>

              <dt>
                @Html.DisplayNameFor(model => model.Evento.BaseInfo_ModificatoDa)
              </dt>

              <dd>
                @Html.DisplayFor(model => model.Evento.BaseInfo_ModificatoDa)
              </dd>

              <dt>
                @Html.DisplayNameFor(model => model.Evento.BaseInfo_UserId)
              </dt>

              <dd>
                @Html.DisplayFor(model => model.Evento.BaseInfo_UserId)
              </dd>

              <dt>
                @Html.DisplayNameFor(model => model.Evento.Cancellato)
              </dt>

              <dd>
                @Html.DisplayFor(model => model.Evento.Cancellato)
              </dd>

            </dl>


            @Html.ActionLink("Edit", "Edit", new { id = Model.Evento.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })

          </div>
        </div>
      </div>
    </div>
  </div>












