@model TangOrganizer.Model.Models.Pacchetto

@{
  ViewBag.Title = "Cancella pacchetto";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>@ViewBag.Title</h2>
    <ol class="breadcrumb">
      <li>
        @Html.ActionLink("Evento", "Edit", "Evento", new { id = Model.EventoId })
      </li>
      <li class="active">
        <strong>@ViewBag.Title</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      @Html.ActionLink("Evento", "Edit", "Evento", new { id = Model.EventoId }, new { @class = "btn btn-primary" })
    </div>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>@ViewBag.Title</h5>
        </div>
        <div class="ibox-content">
          <h4 class="text-danger">Sicuri di voler cancellare questo pacchetto?</h4>
          <dl class="dl-horizontal">
            <dt>
              @Html.DisplayNameFor(model => model.Evento.Nome)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.Evento.Nome)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.Descrizione)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.Descrizione)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.Prezzo)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.Prezzo)
            </dd>

          </dl>

          @using (Html.BeginForm())
          {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
              <input type="submit" value="Cancella" class="btn btn-primary" />
              @Html.ActionLink("Annulla", "Edit", "Evento", new { id = Model.EventoId }, new { @class = "btn btn-white" })
            </div>
          }


        </div>
      </div>
    </div>
  </div>
</div>
